## https://github.com/github/linguist/blob/master/docs/overrides.md

# Apply override to all files and directories in the directory
_Jam\ builds/** linguist-vendored
_Itchio\ builds/** linguist-vendored
*.shader linguist-vendored
